<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273549551952-tnkba3n5ibbvkbs9sque79q08btd55hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273549551952-tnkba3n5ibbvkbs9sque79q08btd55hj</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-4pbLSv3X_Ii87K7h7bUkp3zBjBLvCU</string>
	<key>GCM_SENDER_ID</key>
	<string>273549551952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netpro.oxo</string>
	<key>PROJECT_ID</key>
	<string>oxoapp-d83d5</string>
	<key>STORAGE_BUCKET</key>
	<string>oxoapp-d83d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273549551952:ios:7722c7f07b6ea7a4552455</string>
</dict>
</plist>